table {
    border: 2px 
    inset rgb(0, 128, 0);
    background-color: rgb(179, 197, 192);
width: 700px;
height: 500px;
margin:auto;
text-align: center;
}
h1 {
    text-align: center;
}
.head{
    background-color: rgb(80, 119, 107);
}

img{
    width: 100px;
    height: 100px;
}